[user]
	email = hey@wperron.io
	name = William Perron
	signingkey = YOURKEYHERE
[commit]
	gpgsign = true
[gpg]
	program = gpg
[alias]
	adog = log --all --decorate --oneline --graph
	ap = fetch --all --prune
	shove = push --force
[core]
	editor = vim
[init]
	defaultBranch = main
[pull]
	ff = only
	rebase = true
